body {
  margin: 1vw;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 3fr;
  grid-template-areas:
    "nav nav nav nav"
    "c-header c-header c-header c-header"
    "aside aside aside aside"
    "c-cards c-cards c-cards c-cards";
  min-height: 100vh;
}

nav {
  grid-area: nav;
  height: 100%;
}

.c-header {
  grid-area: c-header;
  height: 100%;
}

.category-container aside {
  grid-area: aside;
  height: 100%;
}

.c-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-area: c-cards;
  height: 100%;
}

nav,
.c-header,
aside,
.c-cards {
  padding: 0.8em;
  margin: 0.2em;
}

.c-cards .category-card {
  margin: 1.5em;
}

.category-card {
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.category-card h3 {
  text-align: center;
}

h1 {
  color: #354677;
}

h2 {
  color: #493579;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

a {
  color: #2a646c;
}

.img {
  height: 40vh;
  width: 22vw;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: solid 1px #ccc;
  transition: transform 0.5s;
}

nav {
  margin: 1.5em 0;
}

nav a {
  margin: 0 0.5em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.story-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 3fr;
  grid-template-areas:
    "nav nav nav"
    "s-header s-header s-header"
    "s-cards s-cards s-cards";
  min-height: 100vh;
}

.s-header {
  grid-area: s-header;
}

.story-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  grid-area: s-cards;
}

.story-card {
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1em;
  margin: 2em;
}

.story-card h3 {
  text-align: center;
}

.summary {
  width: 22vw;
}

.story-detail-container {
  display: grid;
  grid-template-columns: 10fr 0.5fr;
  grid-template-rows: 0.1fr 0.3fr 1fr 0.7fr 1fr 0.1fr;
  grid-template-areas:
    "nav nav"
    "sd-header sd-header"
    "u-text d-elves"
    "u-text d-elves"
    "h-elves h-elves"
    "l-text l-text";
  min-height: 100vh;
  width: 100%;
}

.story-detail-header {
  grid-area: sd-header;
}

.upper-story-text {
  grid-area: u-text;
  width: 100%;
}

.lower-story-text {
  grid-area: l-text;
}

#dancing-elves {
  grid-area: d-elves;
}

#hiding-elves {
  grid-area: h-elves;
  margin: 0 auto;
}

.author-container {
  display: grid;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 0.2fr 0.2fr 2fr 1fr 0.1fr;
  grid-template-areas:
    "nav nav"
    "a-header a-header"
    "grimm bio"
    "notable ."
    "go-back .";
}

.author-header {
  grid-area: a-header;
}

#grimm-pic {
  grid-area: grimm;
}

.bio {
  grid-area: bio;
}

.notable-works {
  grid-area: notable;
}

.go-back {
  grid-area: go-back;
}

@media (max-width: 1024px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.1fr 4fr;
    grid-template-areas:
      "nav"
      "c-header"
      "c-cards";
    min-height: 100vh;
  }

  .c-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: c-cards;
    height: 100%;
  }

  .category-card {
    margin-left: 2em;
    margin-right: 2em;
  }

  .img {
    height: 20vh;
    width: 92vw;
  }

  nav a {
    margin: 0 0.1em;
  }

  aside {
    display: none;
  }

  .story-list-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.1fr 4fr;
    grid-template-areas:
      "nav"
      "s-header"
      "s-cards";
    min-height: 100vh;
  }

  .summary {
    width: 100%;
  }

  .story-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 0.1fr 0.1fr 2fr 1fr;
    grid-template-areas:
      "nav"
      "sd-header"
      "d-elves"
      "st";
  }

  #dancing-elves {
    margin: 0 auto;
  }

  #hiding-elves {
    display: none;
  }

  .story-text {
    grid-area: st;
  }
}
